h2{
    color: red;
    font-family: cursive;
}

body{
    text-align: center;
}
/* #one for "id" */
#one{
    color:brown;
    font-family: fantasy;
}

/* ". (dot for class)" */
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}
